.currency-rate {
  display: flex;
  position: absolute;
  bottom: 42%;
  padding: 3px 0 3px 0;
  height: 54px;
  font-weight: bold;
  background-color: black;
  color: white;
  width: 95%;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.currency-rate__text {
  font-size: 48px;
}
